version: '3.8'

services:
  db:
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_DATABASE: kart_challenge_db
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  api:
    build: .
    ports:
      - "8080:1323" # Expose host port 8080 to container port 1323
    environment:
      SERVER_PORT: 1323
      DATABASE_URL: user:password@tcp(db:3306)/kart_challenge_db?parseTime=true
    depends_on:
      - db

volumes:
  db_data:
