version: '3.8'

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.0.1
    hostname: zookeeper
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    image: confluentinc/cp-kafka:7.0.1
    hostname: kafka
    container_name: kafka
    ports:
      - "9092:9092"
      - "9093:9093"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:9093
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_CREATE_TOPICS: "couponbase1.gz:1:1,couponbase2.gz:1:1,couponbase3.gz:1:1" # topic:partitions:replicas
    volumes:
      - kafka_data:/var/lib/kafka/data
    depends_on:
      - zookeeper

  redis:
    image: redis:7.0.0-alpine
    hostname: redis
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  producer:
    build:
      context: .
      dockerfile: pipeline/producer/Dockerfile
    container_name: producer
    environment:
      KAFKA_BROKERS: kafka:9092
    volumes:
      - ./couponbase1.gz:/app/producer/couponbase1.gz
      - ./couponbase2.gz:/app/producer/couponbase2.gz
      - ./couponbase3.gz:/app/producer/couponbase3.gz
    depends_on:
      - kafka

  consumer:
    build:
      context: .
      dockerfile: pipeline/consumer/Dockerfile
    container_name: consumer
    environment:
      KAFKA_BROKERS: kafka:9092
      REDIS_ADDR: redis:6379
    depends_on:
      - kafka
      - redis

  scheduler:
    build:
      context: .
      dockerfile: pipeline/producer/Dockerfile # Use producer's Dockerfile for consistent environment
    container_name: scheduler
    volumes:
      - ./pipeline/run_producers.sh:/usr/local/bin/run_producers.sh
      - ./couponbase1.txt:/app/producer/couponbase1.txt
      - ./couponbase2.txt:/app/producer/couponbase2.txt
      - ./couponbase3.txt:/app/producer/couponbase3.txt
    entrypoint: ["/bin/sh", "-c"]
    command: ["while true; do /usr/local/bin/run_producers.sh; sleep 86400; done"] # Run daily
    depends_on:
      - producer # Ensure producer service is available before scheduling

volumes:
  kafka_data:
  redis_data:
